<div style="height: 70px; font-weight: bold; font-size: 1em; font-family: DejaVu Sans Mono, monospace		!important" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

  <h5 style="font-weight: bold; font-size: 1.2em" class="my-0 mr-md-auto font-weight-normal">ME DIZ QUEM TU ÉS</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a style="color: white;" class="p-2 text-dark" [routerLink]="['']">INICÍO</a>
  </nav>
</div>
<div style="font-size: 1em; font-family: DejaVu Sans Mono, monospace		!important" class='container'>
  <router-outlet #route="outlet"></router-outlet>
</div>
